<!-- championships.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skat Championships</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/pages_scripts/championships.js') }}"></script>
</head>

<body>
  {% include 'navbar.html' %}
  <!--
    Styled the h1 and divAddNewChampionship using Tailwind CSS classes
  -->
  <!-- Container for centering and adding lateral padding -->
  <div class="max-w-7xl mx-auto bg-black">
    <!-- Centered title -->
    <!-- Centered and padded form -->
    <h1 class="text-2xl font-bold text-center text-white">Add Championship</h1>

    <div id="divAddNewChampionship" class="flex items-center justify-center space-x-4 mb-4 bg-gray-800 p-2">
      <form id="formAddNewChampionship" action="" class="flex items-center space-x-2 bg-gray-900 px-5 rounded-md">
        <div id="divInputChampionshipName" class="flex flex-col items-center space-y-2 ">
          <label for="inputChampionshipName" class="text-white">Name:</label>
          <input id="inputChampionshipName" type="text" placeholder="Championship Name"
            class="border border-gray-300 bg-gray-600 text-white w-80 px-2 py-1 rounded-md">
        </div>
        <div id="divInputChampionshipStart" class="flex flex-col items-center space-y-2">
          <label for="inputChampionshipStart" class="text-white">Start Date:</label>
          <input id="inputChampionshipStart" type="date" placeholder="Championship Start"
            class="border border-gray-300 bg-gray-600 text-white px-2 py-1 rounded-md">
        </div>

        <div id="divInputChampionshipAcronym" class="flex flex-col items-center space-y-2">
          <label for="inputChampionshipAcronym" class="text-white">Acronym:</label>
          <input id="inputChampionshipAcronym" type="text" placeholder="Championship Acronym"
            class="border border-gray-300 px-2 py-1 rounded-md bg-gray-600 text-white">
        </div>
      </form>
      <button id="btnAddNewChampionship" class="px-4 py-2 bg-blue-500 text-white rounded-md">Add New
        Championship</button>

    </div>
  </div>

  <h1 class="text-2xl font-bold text-center">All Championships</h1>

  <!-- Container for centering and adding lateral padding -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div id="selectChampionships" class="overflow-x-auto">
      <table id="championshipTable" class="min-w-full divide-y divide-gray-400">
        <thead class="bg-gray-50">
          <tr>
            <th colspan="6" class="px-6 py-3">
              <!-- Search input -->
              <input id="championshipSearch" type="text" placeholder="Search Championship"
                class="border border-gray-300 px-2 py-1 rounded-md w-full">
            </th>
          </tr>
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Start
              Date</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Acronym</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Edit
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Delete</th>
          </tr>
        </thead>
        <tbody id="championshipTableBody" class="bg-white divide-y divide-gray-200">

          <!-- Additional Championship rows go here -->
        </tbody>
      </table>

    </div>
  </div>


  <!-- Modal for editing championship -->
  <div id="modalEditChampionship" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen">
      <div class="bg-white rounded-lg shadow-xl p-6 bg-blue-100 relative">
        <!-- Close button -->
        <button id="closeModalEditChampionship"
          class="absolute top-0 right-0 p-2 text-white bg-red-500 hover:bg-red-600 rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>

        <!-- Edit championship form -->
        <form id="formEditChampionship" action="" class="flex flex-col space-y-4">
          <!-- Championship Name -->
          <label for="editChampionshipName">Championship Name:</label>
          <input id="editChampionshipName" type="text" placeholder="Championship Name"
            class="border border-gray-300 px-4 py-2 rounded-md">

          <!-- Start Date -->
          <label for="editChampionshipStart">Start Date:</label>
          <input id="editChampionshipStart" type="text" placeholder="Championship Start Date"
            class="border border-gray-300 px-4 py-2 rounded-md">

          <!-- Acronym -->
          <label for="editChampionshipAcronym">Championship Acronym:</label>
          <input id="editChampionshipAcronym" type="text" placeholder="Championship Acronym"
            class="border border-gray-300 px-4 py-2 rounded-md">

          <!-- Save Changes Button -->
          <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-md">Save
            Changes</button>
        </form>
      </div>
    </div>
  </div>



  <!--
    conversely, the modal below shall display when Championships clicks on remove and display
    in Championship.name variable the name of the Championship whose line remove button was clicked
  -->
  <!-- Modal for removing a Championship -->
  <div id="modalRemoveChampionship" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen">
      <div class="bg-white rounded-lg shadow-xl p-6 bg-blue-100">
        <div class="flex flex-col items-center">
          <p id="pRemoveChampionship" class="mb-4 text-lg">Are you sure you want to remove <span
              id="spanRemoveChampionship" class="font-bold">[Championship Name]</span> from the database?</p>
          <div class="flex space-x-4">
            <button id="closemodalRemoveChampionship"
              class="bg-gray-300 hover:bg-gray-400 px-4 py-2 rounded-md">Cancel</button>
            <button id="btnRemoveChampionship"
              class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-md">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>



</body>

</html>