<!-- navbar.html -->
<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0">
          <a href="/" class="text-white text-lg font-bold">Skat Manager</a>
        </div>
        <div class=" sm:block sm:ml-6">
          <div class="flex space-x-4">
            <a href="/championships.html" id="championships"
              class="nav-link text-white hover:bg-gray-700 px-1 py-2 rounded-md text-md font-medium">
              <i class="fa-solid fa-trophy"></i>
              CHAMPIONSHIPS</a>
            <a href="/players.html" id="players"
              class="nav-link text-white hover:bg-gray-700 px-1 py-2 rounded-md text-md font-medium">
              <i class="fa-solid fa-users"></i>
              PLAYERS</a>
            <a href="/series.html" id="series"
              class="nav-link text-white hover:bg-gray-700 px-1 py-2 rounded-md text-md font-medium">
              <i class="fa-regular fa-map"></i>
              SERIES</a>
            <a href="/tische.html" id="tische"
              class="nav-link text-white hover:bg-gray-700 px-1 py-2 rounded-md text-md font-medium">
              <i class="fa-solid fa-chair"></i>
              TISCHE</a>
            <a href="/teams.html" id="teams"
              class="nav-link text-white hover:bg-gray-700 px-1 py-2 rounded-md text-md font-medium">
              <i class="fa-solid fa-users-gear"></i> TEAMS</a>
            <a href="/print.html" id="results"
              class="nav-link text-white hover:bg-gray-700 px-1 py-2 rounded-md text-md font-medium">
              <i class="fa-solid fa-print"></i>
              PRINT</a>
            <a href="/prize_distribution.html" id="prizes"
              class="nav-link text-white hover:bg-gray-700 px-1 py-2 rounded-md text-md font-medium">
              <i class="fa-solid fa-coins"></i>
              PRIZES</a>
            <a href="/i_o.html" id="results"
              class="nav-link text-white hover:bg-gray-700 px-1 py-2 rounded-md text-md font-medium">
              <i class="fa-solid fa-file-import"></i>
              IMPORT</a>
            <a href="{{ url_for('auth.logout') }}" id="logout"
              class="nav-link text-white hover:bg-gray-700 px-1 py-2 rounded-md text-md font-medium">
              <i class="fa-solid fa-right-from-bracket"></i>
              LOGOUT</a>
            <div class="relative inline-block text-left">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>