<!-- championships.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Print</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/pages_scripts/print.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pdf-lib@1.16.0/dist/pdf-lib.min.js"></script>


</head>

<body>
  {% include 'navbar.html' %}
  {% include 'change_current_championship.html' %}
  {% include 'change_current_serie.html' %}

  <div class="max-w-7xl mx-auto bg-black">

  </div>
  <div>
    <h1 class="text-2xl font-bold text-center p-0 mt-0">What do you want to print?</h1>
    <p class="text-xs text-center p-0 mt-0">In this page, you'll generate the PDFs. To print them, you should go to your
      local PDF manager tool.</p>
  </div>
  <table class="mt-4 w-full border-b border-gray-200 text-sm">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 text-left">Subject</th>
        <th class="px-4 py-2 text-left">Preview</th>
        <th class="px-4 py-2 text-left">Print</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <h1 class="font-bold text-2xl mx-6">Individual Series Results</h1>
        </td>
        <td>
          <button id="btnPreviewCurrentSeriesResults"
            class="bg-gray-700 hover:bg-gray-900 text-white px-4 py-1 rounded-md">Preview Current Series
            Results</button>
        </td>
        <td>
          <button id="btnPrintCurrentSeriesResults"
            class="bg-green-600 hover:bg-green-800 text-white px-4 py-1 rounded-md">Print Current Series
            Results</button>
        </td>
      </tr>

      <tr>
        <td>
          <h1 class="font-bold text-2xl mx-6">Individual Overall Results</h1>
        </td>
        <td>
          <button id="btnPreviewOverallResults"
            class="bg-gray-700 hover:bg-gray-900 text-white px-4 py-1 rounded-md">Preview Overall Results</button>
        </td>
        <td>
          <button id="btnPrintOverallResults"
            class="bg-green-600 hover:bg-green-800 text-white px-4 py-1 rounded-md">Print Overall Results</button>
        </td>
      </tr>

      <tr>
        <td>
          <h1 class="font-bold text-2xl mx-6">Teams Overall Results</h1>
        </td>
        <td>
          <button id="btnPreviewOverallTeamsResults"
            class="bg-gray-700 hover:bg-gray-900 text-white px-4 py-1 rounded-md">Preview Teams Overall Results</button>
        </td>
        <td>
          <button id="btnPrintOverallTeamsResults"
            class="bg-green-600 hover:bg-green-800 text-white px-4 py-1 rounded-md">Print Teams Overall Results</button>
        </td>
      </tr>
      <tr>
        <td>
          <h1 class="font-bold text-2xl mx-6">Current Series Listen
            <span class="text-xs">(Complete)</span>

          </h1>
        </td>
        <td></td>
        <td>
          <button id="btnPrintCurrentSeriesListen"
            class="bg-green-600 hover:bg-green-800 text-white px-4 py-1 rounded-md">Print Current Series Listen
            <span class="text-xs">(Complete)</span>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <h1 class="font-bold text-2xl mx-6">Current Series Listendatei
            <span class="text-xs">(Only Data)</span>

          </h1>
        </td>
        <td></td>
        <td>
          <button id="btnPrintCurrentSeriesListenDatei"
            class="bg-green-600 hover:bg-green-800 text-white px-4 py-1 rounded-md">Print Current Series Listendatei
            <span class="text-xs">(Only Data)</span>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <h1 class="font-bold text-2xl mx-6">Player Zettel</h1>
            <p class="text-xs mx-6">Individual player note with respective tables and seats</p>
          </div>
        </td>
        <td></td>
        <td>
          <button id="btnPrintPlayerZettel"
            class="bg-green-600 hover:bg-green-800 text-white px-4 py-1 rounded-md">Print Player Zettel</button>
        </td>
      </tr>
      <tr>
        <td>
          <h1 class="font-bold text-2xl mx-6">Lost Games List </h1>
        </td>
        <td></td>
        <td>
          <button id="btnPrintLostGamesList"
            class="bg-green-600 hover:bg-green-800 text-white px-4 py-1 rounded-md">Print Lost Games List
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="resultContainer" class="m-8"></div>
  <!-- Your content for championships page goes here -->
</body>

</html>